html, body
{
	padding: 0;
	margin: 0;
	overflow:hidden;
}

h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-variant: small-caps;
	font-size: 4em;
	text-align: center;
}

.slider h1 {
	font-size: 4vw;
}

h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-variant: small-caps;
	font-size: 3em;
	text-align: center;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 10vh;
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}


.logo{
  width: 30vw;
  height: 30vh;
  position:absolute;
  top: 25vh;
  left:35vw;
  z-index: 100;
}

.logo img {
	display:block;
	max-width: 30vw;
	max-height: 30vh;
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	transition: margin-top 2s;
	filter: drop-shadow(2px 0 0.1rem black);
	}

.logo a {
  color: inherit;
  text-decoration: inherit;
}

.logo:hover img {
	margin-top: -3vh;
}

.logoText {
    margin-left: -10%;
    margin-right: -10%;
	font-weight: bold;
	font-size: 5vh;
	margin-top: -3vh;
	filter:opacity(0%) drop-shadow(0px 0 0.05rem black);
	transition: all 2s;
}

.logo:hover .logoText {
	margin-top: 3vh;
	filter:opacity(100%) drop-shadow(0px 0 0.05rem black);

}

.overlay-outer {
	position: relative;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
}

.slider {
	position:absolute;
	top:120%;
	min-height: 200vh;
	background-color: white;
	transform: skewY(20deg);
}

.slider h1 {
	margin-top: 125vh;
	transform:skewY(-20deg);
}

#slider-1 {
	left: 0%;
	width: 33.33%;
	transition: top 1s;
}

#slider-2 {
	left: 33.33%;
	width: 33.34%;
	box-shadow: inset 20px -10px 30px -20px #000000;
	transition: top 1.3s;
}

#slider-3 {
	left: 66.65%;
	width: 33.35%;
	box-shadow: inset 20px -10px 30px -20px #000000;
	transition: top 1.8s;
}

.logo:hover + #logoHover .overlay-outer #slider-1 {
	top: -50%;
}

.logo:hover + #logoHover .overlay-outer #slider-2 {
	top: -50%;
}

.logo:hover + #logoHover .overlay-outer #slider-3 {
	top: -50%;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
}

.bg-imgs img {
	object-fit: cover;
	object-position: center;
	filter: opacity(30%);
	height:100vh;
	transition: filter 1s;
}

.bg-imgs img:hover {
	filter:opacity(100%);
}

#bg-1 {
	transition: filter 1s;
}

#bg-2 {
	transition: filter 1.5s;
}

#bg-3 {
	transition: filter 2s;
}

.logo:hover + #logoHover .overlay-outer #bg-1 {
	filter: opacity(100%);
}

.logo:hover + #logoHover .overlay-outer #bg-2 {
	filter: opacity(100%);
}

.logo:hover + #logoHover .overlay-outer #bg-3 {
	filter: opacity(100%);
}



.navbar
{
	height:10vh;
	filter:opacity(100%) drop-shadow(0px 0 0.5rem black);
}

#header
{
	max-height: 9vh;
}

.dropdown
{
	height: 9vh;
	padding: 1vh;
}

.dropdown, .dropdown-item
{
	font-size: 3.5vh;
	font-variant: small-caps;
}

.dropdown-menu
{
	border: 0px;
}

.dropdown:hover, 
.dropdown:active, 
.dropdown:focus 
{
	background-color:gray;
}
  
.navbar .navbar-nav .nav-item
{
    border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}

#sidebar
{

	padding: 10vh 0 0 0;
	height:100%;
	background-color: white;
	filter:opacity(100%) drop-shadow(5px 0 0.5rem black);
	overflow-x:hidden;
}

.sidebar-img {
	height:auto;
	width:auto;
	object-fit: cover;
	object-position: center;
	padding: 0;
	margin:0;
	filter:opacity(70%);
	transition: filter .3s;
}

.sidebar-img:hover {
	filter:opacity(100%);
}


#main {
	height: 100%;
	padding: 15vh 0 0 0;
	overflow-x: hidden;
}

.icons {
	text-align: center;
}

.main-content {
	padding: 2vh 10vw 0 10vw;
	font-size: 1.2em;
}

.main-icon {
	height: 5vh;
	display: inline-block;
}

p.main-content {
	text-indent: 30px;
}

ul.main-content {
	padding: 0 10vw;
}

img.main-content {
	display: block;
	margin: auto;
	max-width: 55vw;
}

.main-content:last-child
{
	padding-bottom: 2vh;
}

hr {
	width:80%;
	margin: 3vh auto;
}